www/XML/XSDschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="firma">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comenzi">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="comanda" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="IDcomanda"/>
                    <xs:element type="xs:string" name="tipComanda"/>
                    <xs:element type="xs:string" name="tipColet"/>
                    <xs:element name="colet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="IDcolet"/>
                          <xs:element type="xs:int" name="greutate"/>
                          <xs:element name="dimensiuni">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:int" name="inaltime"/>
                                <xs:element type="xs:int" name="latime"/>
                                <xs:element type="xs:int" name="lungime"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="expeditor">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="nume"/>
                                <xs:element type="xs:string" name="prenume"/>
                                <xs:element type="xs:int" name="telefon"/>
                                <xs:element name="adresa">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="judet"/>
                                      <xs:element type="xs:string" name="oras"/>
                                      <xs:element type="xs:string" name="strada"/>
                                      <xs:element type="xs:string" name="numar"/>
                                      <xs:element type="xs:string" name="bloc"/>
                                      <xs:element type="xs:string" name="apartament"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="destinatar">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="nume"/>
                                <xs:element type="xs:string" name="prenume"/>
                                <xs:element type="xs:int" name="telefon"/>
                                <xs:element name="adresa">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="judet"/>
                                      <xs:element type="xs:string" name="oras"/>
                                      <xs:element type="xs:string" name="strada"/>
                                      <xs:element type="xs:string" name="numar"/>
                                      <xs:element type="xs:string" name="bloc"/>
                                      <xs:element type="xs:string" name="apartament"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="curier">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="IDcurier"/>
                          <xs:element type="xs:string" name="nume"/>
                          <xs:element type="xs:string" name="prenume"/>
                          <xs:element type="xs:int" name="telefon"/>
                          <xs:element name="masina">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="marca"/>
                                <xs:element type="xs:string" name="model"/>
                                <xs:element type="xs:string" name="numarInmatriculare"/>
                                <xs:element type="xs:string" name="tipMasina"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="data">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="an"/>
                          <xs:element type="xs:int" name="luna"/>
                          <xs:element type="xs:int" name="zi"/>
                          <xs:element type="xs:string" name="ora"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>